@media (max-width:1400px) {
    .section2 {
        margin: 0 40px 130px -80px;
    }
}

@media (max-width:998px) {
    .section2 {
        flex-direction: column;
        margin: 0 40px 202px;
        text-align: center;
    }

    .section2 img, .section3 img {
        width: 670px;
    }
    
    footer .help-links ul {
        margin-right: 62px;
    }
    
}

@media (max-width: 800px) {
    .section2 img, .section3 img {
        width: 530px;
    }
    .section4 .tools {
        flex-direction: column;
        margin: 53px auto;
    }
    .section4 .tools .tool {
        margin: 40px;
    }
    footer {
        flex-wrap: wrap;
        text-align: center;
    }
    footer .help-links  {
        margin: 26px 40px;
    }
}

@media (max-width: 720px) {
    footer {
        flex-direction: column;
    }
    footer .help-links ul {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    footer .help-links li a {
        color: hsl(210, 10%, 33%);
        transition: 0.2s;
    }
    footer .help-links .links-top li, footer .help-links .links-bottom li  {
        padding: 13px;
    }
}

@media (max-width: 557px) {
    .title {
        font-size: 1.7rem;
    }
    .text {
        font-size: 1rem;
    }
    header .cta-button a, .section6 .cta-button a{
        display: flex;
        flex-direction: column;
        border-radius: 26px;
        padding: 17px 71px;
        margin-bottom: 17px;
    }
}

@media (max-width: 530px) {
    .section2 img, .section3 img {
        max-width: 400px;
    }
}

@media (max-width: 400px) {
    .section2 img, .section3 img {
        width: 350px;
    }
}