@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

body {
    font-family: 'Bai Jamjuree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background: url(../images/bg-header-desktop.png) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header img {
    max-width: 125px;
    margin-top: 100px;
}

header h1{
    margin: 53px 0 17px;
}

header .cta-button, .section6 .cta-button {
    margin: 80px 0 40px;
}

header .cta-button a, .section6 .cta-button a {
    color: #ffffff;
    border-radius: 26px;
    padding: 13px 26px;
    margin: 8px;
    transition: 0.2s;
}

header .cta-button .ios, .section6 .cta-button .ios{
    background-color: hsl(171, 66%, 44%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

header .cta-button .mac, .section6 .cta-button .mac{
    background-color: hsl(233, 100%, 69%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

header .cta-button a:hover, .section6 .cta-button a:hover{
    opacity: 0.8;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 148px 40px 71px;
}

.section1 .title {
    margin-bottom: 17px;
}

header p, .section1 p {
    max-width: 530px;
    text-align: center;
}

.section2 {
    display: flex;
    align-items: center;
    gap: 80px;
    margin: 0 40px 130px;
}

.section2 .text {
    margin-bottom: 40px;
    max-width: 420px;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px;
}

.section3 .text {
    max-width: 530px;
    margin-bottom: 80px;
}

.section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px;
}

.section4 .tools {
    display: flex;
    margin: 53px auto;
}

.section4 .tools .tool img {
    min-height: 40px;
    margin-bottom: 40px;
}

.section4 .tools .tool {
    display: flex;
    gap: 13px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 420px;
    margin: 0 13px;
}

.section5 {
    margin: 130px 40px;
}

.section5 nav ul{
    display: flex;
    gap: 80px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.section6 {
    text-align: center;
    margin: 0 40px 150px;
}

.section2 .title, .section3 .title, .section4 .title, .section6 .title {
    margin-bottom: 13px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px;
    background-color: #F5F6F8;
}

footer .logo img {
    width: 71px;
    margin: auto 40px;
}

footer .help-links ul {
    display: flex;
    margin-right: 170px;
}

footer .help-links li a {
    color: hsl(210, 10%, 33%);
    transition: 0.2s;
}

footer .help-links .links-top li {
    padding: 13px 49px;
    color: hsl(210, 10%, 33%);
}

footer .help-links .links-bottom li {
    padding: 13px 4px 13px 49px;
    color: hsl(210, 10%, 33%);
}

footer .social-links {
    display: flex;
}

footer .social-links li svg {
    fill: #4C545C;
    transition: 0.2s;
}

footer .social-links li svg:hover {
    fill: hsl(171, 66%, 44%);
}

footer .social-links li {
    margin: 13px;
    transition: fill 0.2s ease;
}

footer .help-links li a:hover, footer .social-links li svg:hover{
    color: hsl(171, 66%, 44%);
}